@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

.caf {
    background-color: rgb(116, 151, 128);
    height: 30em;
    width: 50em;
    padding: 4em;
    margin: 10em auto;
    border-radius: 2em;
    box-shadow: 0px 4px 18px 8px rgb(116 151 128 / 50%)
    
}

.txt-caf{
    font-size: x-large;
    font-family: "Poppins", sans-serif;
}

h1{
    font-family: "Poppins", sans-serif; 
}