@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}


/* -------------- DIFFERENTS PARAGRAPHES -------------- */


.bienfaits{
    display: block;
}

.mental,
.hiearchie,
.relation,
.vrai-potentiel{
    background-color: #339f9fd9;
    height: auto;
    width: 50em;
    padding: 4em;
    border-radius: 2em;
    box-shadow: 0px 4px 18px 8px rgb(116 151 128 / 50%);
    margin: 5em auto 5em 20em;
    display: flex;
}

.hiearchie,
.vrai-potentiel{
    margin: 5em 20em 5em auto;
}


/* -------------- TEXTES -------------- */


.mental-txt-part,
.hiearchie-txt-part,
.relation-txt-part,
.vrai-potentiel-txt-part{
    display: block;
}

.mental-txt,
.hiearchie-txt,
.relation-txt,
.vrai-potentiel-txt{
    font-size: large;
}


/* -------------- IMAGES -------------- */


.mental-img,
.hierarchie-img,
.relation-img,
.potentiel-img{
    margin: 2em 4em 0em 1em;
}
