@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}


/* -------------- DIFFERENTS PARAGRAPHES -------------- */


#cercle,
#tete,
#caf,
#intro {
    margin: 5% auto;
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border-radius: 20px;
    box-shadow: 0px 4px 18px 8px rgb(116 151 128 / 50%);
    font-size: 1em;
    width: 80vw;
    background-color: #339f9fd9;
}

h1 {
    text-align: center;
}

p {
    font-size: large;
}

/* -------------- CONCENTREZ VOUS -------------- */


#tete p {
    text-align: center;
}

.texte-tete {
    display: flex;
    justify-content: start;
    overflow: hidden;
    gap: 15px;
    height: 2em;
}

.texte-tete p {
    margin-top: 0;
}

.texte-tete ul {
    margin-top: auto;
    list-style-type: none;
    translate: 0 -100%;
}

@keyframes remonter {
    from {
        translate: 0;
    }
    to {
        translate: 0 -100%;
    }
}


/* -------------- CERCLE -------------- */


.cercle-forme {
    /* Faire la forme du .cercle */
    border-radius: 50%;
    width: 30em;
    height: 30em;
    background-color: #4dabf6;

    /* Centrer le contenu du texte */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* Zone d'ombre */
    box-shadow: 0px 4px 18px 8px #eef7fe;

    /* Pour que l'animation du cercle ne soit pas sacadé */
    transition: 1s linear;
}

/* Ajuster les tailles, la couleur et la font des textes */
.cercle-forme p,
button.cerclebtn {
    font-size: 4em;
    color: #eef7fe;
    font-family: 'Poppins', sans-serif;
}

/* Changer la couleur du boutton, et lui arrondir les bords */
button.cerclebtn {
    border-radius: 10px;
    background-color: #1a1a1a;
}

/* Animation pour la rotation du cercle */
@keyframes rotation {
    from {
        rotate: 0deg;
    }
    to {
        rotate: 360deg;
    }
}
