.patate-verte-1 {
    rotate: 2;
}

.patate-verte-2 {
    rotate: 2;
}

.patate-verte-3 {
    rotate: 2;
}

.patate-bleue-1 {
    rotate: 2;
}

.patate-bleue-2 {
    rotate: 2;
}

.patate-bleue-3 {
    rotate: 2;
}